# Python
*.pyc
__pycache__/
*.sqlite3

# Environnement
.env
venv/
*.venv/

# IDE
.vscode/
.idea/

# Django
media/
staticfiles/
db.sqlite3

# Logs
*.log

# Docker Dev (non poussé)
docker-compose.dev.yml
Dockerfile.dev
