version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: erols_db
      POSTGRES_USER: erols_user
      POSTGRES_PASSWORD: erols_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  backend:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    env_file:
      - .env

volumes:
  postgres_data: